*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

body {
  background-color: #b089ff;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.search-container {
  margin: 0 auto;
  max-width: 700px;
  padding: 16px 10px;
}

input#search {
  width: 100%;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  padding: 6px;
  border: none;
  border-radius: 3px;
  margin: 0;
}

input#search::placeholder {
  color: #474747;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.form-control-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1px 10px;
  max-width: 700px;
  flex-wrap: nowrap;
  /* gap: 4px; */
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

label {
  color: #ffffff;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(89, 9, 23);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.buttons-container {
  /* background-color: #dddddd; */
  max-width: 700px;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  padding: 4px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.page-button {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: #3943fb;
  color: #ffffff;
}

.active {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: #030423;
  color: #ffffff;
}

.elipsis {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  color: #3943fb;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  /* border: 1px solid #dddddd; */
  background-color: #3e3e3e;
  color: #ffffff;
  text-align: left;
  padding: 14px;
}

th {
  position: relative;
}

.arrow {
  position: relative;
  /* right: 0;
  bottom: 0; */
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

span.pill-blonde {
  background-color: #debe99;
  margin: 0;
  padding: 0;
  padding: 5px;
  border: 1px #debe99 solid;
  border-radius: 5px;
}
span.pill-brown {
  background-color: #241c11;
  margin: 0;
  padding: 0;
  padding: 5px;
  border: 1px #241c11 solid;
  border-radius: 5px;
}
span.pill-blue {
  background-color: #2e536f;
  margin: 0;
  padding: 0;
  padding: 5px;
  border: 1px #2e536f solid;
  border-radius: 5px;
}


th {
  background-color: #171717;
  color: #ffc700;
  text-align: left;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

/* @media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
} */

@media screen and (min-width: 768px) {
  table.results-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 700px;

  }
}
