*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 10px;

}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 1000px;

  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

[class*='col'] {
  width: 100%;
  padding: 16px;
  border-radius: 7px;
}

.col {
  flex: 1;
  margin-top: 10px;
  background-color: rgb(246, 219, 244);
}

@media screen and (min-width: 768px) {
  .col {
    flex: 1;
    margin: 0px;
    margin-left: 10px;  
  }

  .col-6 { 
    width: 50%; 
  }

  .col-12 { 
    width: 100%; 
  } 
}

.search-container {
  background-color: rgb(214, 214, 214);
  padding: 16px;
  margin: 10px 0;

}

input {
  padding: 10px;
  border-radius: 4px;

}

label {
  margin-right: 10px;
  font-size: 16px;
}

button {
  margin-left: 10px;
  padding: 10px;
  background-color: rgb(87, 58, 255);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .search-container {
    background-color: rgb(214, 214, 214);
    padding: 16px;
    margin: 10px 0;

  }

  input {
    padding: 10px;
    border-radius: 4px;

  }

  label {
    margin-right: 10px;
    font-size: 16px;
  }

  button {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(87, 58, 255);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
  }
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card-item {
  justify-content: center;
}

.card-item_label {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: rgb(104, 4, 4);
  text-decoration: underline;
}

.card-item_result {
  font-size: 18px;
  font-weight: 500;
  color: rgb(20, 0, 66);
}


